<mat-card class="card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>ERP Imobiliario</mat-card-title>
    <mat-card-subtitle>Sparky</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home_image.svg" alt="home_img" />
  <mat-card-content>
    <p>
      <br />
      Olá, seja bem vindo ao meu sistema de ERP para imobiliárias. A ideia desse
      projeto é criar um sistema completo que consiste em dois módulos, Locação
      e Vendas <br />
      <br />
      Inicialmente o projeto será construido apenas com o módulo de Vendas, é
      uma dor que identifiquei na empresa que eu trabalho atualmente e após a
      construção colocarei a aplicação em produção uso para essa empresa.
      <br />
      <br />
      O módulo de vendas vai incluir uma aba de lançamentos que mostra o
      processo da negociação e os valores a serem recebidos pelas partes. Também
      será implementado que após finalizar uma venda será disparado uma mensagem
      ao gestor via whatsapp notificando a finalização de uma nova venda, para
      que o gestor possa acompanhar em tempo real a finalização das negociações.
      <br />
      <br />
      At.te: Alex Ferreira
    </p>
  </mat-card-content>
</mat-card>
